.ui-widget, .ui-widget .ui-widget {
     font-size: 12px;
}

#page{
	width: 1320px;
	margin: 0 auto;
}

#header{
	height:116px;
	margin-bottom: 16px;
}

#wrapper{
	width: 100%;
	overflow: hidden; 
}

#content{
	float: left;
	width: 73%;
	text-align: center;
}

#right{
	float: right;
	width: 25%;
	overflow: hidden;
}
