.ui-widget, .ui-widget .ui-widget {
     font-size: 12px;
}

#page{
	margin: 0 auto;
}

#header{
	margin-bottom: 16px;
}

#wrapper{
	width: 100%;
	overflow: hidden; 
}

#content{
	float: left;
	width: 74%;
	text-align: center;
}

#right{
	float: right;
	width: 25%;
	overflow: hidden;
}

#footter{
	height: 15%;
	width: 100%
}

h1{
	font-family: Open sans;
	color: #2e90bd;
}