.ui-widget, .ui-widget .ui-widget {
     font-size: 12px;
}

#page{
	margin: 0 auto;
}

#header{
	margin-bottom: 16px;
}

#wrapper{
	width: 100%;
	overflow: hidden; 
}

#content{
	float: left;
	width: 74%;
	text-align: center;
}

#right{
	float: right;
	width: 25%;
	overflow: hidden;
}

#footter{
	height: 15%;
	width: 100%
}

h1{
	font-family: Open sans;
	color: #2e90bd;
}

.emp1 .fc-event-inner  {
    background: #2e90bd;
    border-color: ##2e90bd;
}
.emp2 .fc-event-inner  {
   background: #91c05f;
   border-color: #91c05f;
 }
 .emp3 .fc-event-inner  {
    background: #72b9d7;
    border-color: #72b9d7;
}
.emp4 .fc-event-inner  {
   background: orange;
   border-color: orange;
 }
 .emp5 .fc-event-inner  {
   background: green;
   border-color: Yellow;
 }
 .emp6 .fc-event-inner  {
    background: red;
    border-color: Yellow;
}
.emp7 .fc-event-inner  {
   background: green;
   border-color: Yellow;
 }